.reg-form-button {
	width: 100%;
}

.reg-main {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20vh;
}

.reg-main-inner {
	min-width: 400px;
}

.reg-main .divider {
	height: 2px;
	background-color: #317c8f;
	margin-bottom: 16px;
	width: 120px;
}

.reg-form-item {
	margin-top: 16px;
}

.red-text {
	color: red;
}

.register-link {
	margin-top: 8px;
}