.@{text} {
    color: @text-color;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 4px;
    
    &--center {
        text-align: center;
    }

    &--light {
        font-weight: 400;
    }

    &--silent {
        color: @text-silent-color;
    }

    &--elipse {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
    }
}
