@import "~antd/dist/antd.less";
@import "./Variables.less";
@import "./Form.less";

@import "./Card/Card.less";
@import "./GhostButton/GhostButton.less";
@import "./Text/Header.less";
@import "./Persona/Persona.less";
@import "./Text/Text.less";
@import "./Text/Title.less";

@card: content-card;
@text: text;

body {
    margin: 0;
    background-color: @sand-background-color;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
    height: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: @scroll-bar-color;
    
    &:hover {
        background-color: darken(@scroll-bar-color, 10%);
    }
}

.divider {
    height: 1px;
    background: @shade30;
}

.footer {
    background-color: #e1e7e7;
    width: 100%;
    text-align: center;
    border-top: 2px;

    .separator {
        height: 2px;
        width: 200px;
        margin: 0 auto;
        background-color: @primary-color;
    }

    p {
        font-size: medium;
        margin: 0;
        margin-top: 7px;
    }
}

.scroll-container {
    overflow-y: auto;
    height: @body-heigth;
}

.@{card} {
    box-shadow: @default-box-shadow;
    background: @card-background-color;
    border-radius: @card-border-radius;

    &--sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
    }
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.spinner-container {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gone {
    display: none;
}

.invisible {
    visibility: hidden;
}

@media screen and (min-width: @lg) {
    .gone-big-screen {
        display: none;
    }
}

@media screen and (max-width: @lg) {
    .gone-small-screen {
        display: none;
    }
}

.shade50 {
    color: @shade50;
}

/**
  * Ant overrides - dangerous
  */
.ant-drawer-body {
    padding: 0;
}

.ant-menu-inline {
    .ant-menu-item, .ant-menu-submenu-title {
        margin-top: 0;
        margin-bottom: 0;
    }

    .ant-menu-item:not(:last-child) {
        margin-bottom: 0;
    }
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
    p {
        font-weight: 500;
    }
}

.ant-layout {
    background-color: inherit;
}