@import "~antd/dist/antd.less";
@import "./Variables.less";
@import "./Form.less";

@import "./Text/Header.less";
@import "./Text/Text.less";
@import "./Text/Title.less";

@card: content-card;
@header: header;
@text: text;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**
  * footer CSS
  */
.footer {
    background-color: #e1e7e7;
    width: 100%;
    text-align: center;
    border-top: 2px;

    .separator {
        height: 2px;
        width: 200px;
        margin: 0 auto;
        background-color: @primary-color;
    }

    p {
        font-size: medium;
        margin: 0;
        margin-top: 7px;
    }
}

.navbar {
    background-color: @background-color;
    height: @navbar-heigth;
    padding: 0;
    z-index: 3;
    -moz-box-shadow: 3px 3px 16px rgba(182, 182, 182, 0.5);
    -webkit-box-shadow: 3px 3px 16px rgba(182, 182, 182, 0.5);
    box-shadow: 3px 3px 16px rgba(182, 182, 182, 0.5);
}

.@{card} {
    box-shadow: @default-box-shadow;
    background: @background-color;
    border-radius: @card-border-radius;

    &--sticky {
        position: -webkit-sticky;
        position: sticky;
        top: calc(@navbar-heigth + 16px);
    }
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.spinner-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 120px 50px;
    margin: 20px 0;
}
