@primary-color: #567088;
@secondary-color: rgb(163, 157, 66);
@background-color: #ffffff;
@layout-body-background: #ffffff;
@footer-background: #494e63;
@footer-text-color: #b8bec5;
@sand-text-color: #ececcd;

@navbar-heigth: 66px;
@landingHorizontalPadding: 10%;