/* Colors */

@shade10: #f0f0f0;
@shade20: #d8d8d8;
@shade30: #c0c0c0;
@shade40: #a8a8a8;
@shade50: #909090;
@shade60: #787878;
@shade70: #606060;
@shade80: #484848;
@shade90: #383838;
@shade100: #202020;

@primary-color: #4d647a;
@secondary-color: #c99223;
@background-color: #ffffff;
@sand-background-color: #fffdf6;
@layout-body-background: #ffffff;
@footer-background: #494e63;
@footer-text-color: #b8bec5;
@sand-text-color: #ececcd;

@fail: #b93333;
@info: #1890FF;
@success: #288650;
@warn: #e9a526;

@text-color: rgba(0, 0, 0, 0.85);
@text-silent-color: rgba(0, 0, 0, 0.5);

/* Antd breakpoints */

@xs: 480px;
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@xxl: 1600px;

/* Sizings */

@navbar-heigth: 66px;
@landingHorizontalPadding: 10%;

@card-border-radius: 4px;
@default-box-shadow: 3px 3px 16px rgba(182, 182, 182, 0.5);
@notebook-details-img-width: 128px;

