/* Colors */

@primary-color: #567088;
@secondary-color: rgb(163, 157, 66);
@background-color: #ffffff;
@layout-body-background: #ffffff;
@footer-background: #494e63;
@footer-text-color: #b8bec5;
@sand-text-color: #ececcd;

@fail: #b93333;
@info: #1890FF;
@success: #288650;
@warn: #d49c33;

@text-color: rgba(0, 0, 0, 0.85);
@text-silent-color: rgba(0, 0, 0, 0.5);

/* Antd breakpoints */

@xs: 480px;
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@xxl: 1600px;

/* Sizings */

@navbar-heigth: 66px;
@landingHorizontalPadding: 10%;

@card-border-radius: 4px;
@default-box-shadow: 3px 3px 16px rgba(182, 182, 182, 0.5);
@notebook-details-img-width: 128px;

