@import "@styles/Variables.less";

@note: note;

@main-padding-x: 18px;
@main-padding-y: 18px;
@main-background: rgb(255, 253, 246);

.@{note}-sidebar {
    height: calc(100vh - @navbar-heigth);

    // height: auto;

    z-index: 1;
    box-shadow: @default-box-shadow;
}

.@{note}-main {
    background-color: @main-background;
    padding: @main-padding-y @main-padding-x;
}

@media screen {
    @media (max-width: @lg) {
        .@{note}-sidebar {
            height: auto;    
        }
    }
}

