@import "@styles/Variables.less";

@root: articlePage;

.@{root} {
    @gradient-start: rgba(7, 32, 34, 0.7);
    @gradient-end: rgba(189, 141, 19, 0.5);
    @sidebar-width: 324px;
    @margin-x: 2 * @unit;
    @image-min-height: 40vh;
    @image-max-height: 50vh;

    position: relative;

    &__cover {
        position: absolute !important;
        width: 100%;
        background-position: center;
        background-size: cover;
        background: linear-gradient(45deg, @gradient-start, @gradient-end);
        z-index: -1;
        box-shadow: ~"0px 4px 12px rgb(0 0 0 / 30%)";

        img {
            min-height: @image-min-height;
            max-height: @image-max-height;
            object-fit: cover;
            mix-blend-mode: multiply;
        }
    }

    &__header {
        grid-row: 1;
        grid-column: 1 / span 2;
        margin: (1.5 * @unit) @margin-x @unit @margin-x;
    }
    
    &__body {
        display: grid;
        grid-template-columns: 1fr @sidebar-width;
        gap: @unit;
        margin: @unit @margin-x;

        .@{root}__container {
            grid-column: 1;
        }
        
        .@{root}__sidebar {
            grid-column: 2;

            & > *:not(:first-child) {
                margin-top: @unit;
            }
        }
    }
}

@media (max-width: @md) {
    .@{root} {
        
        &__container {
            grid-column: 1 / span 2 !important;
        }
        
        &__sidebar {
            display: none;
        }
    }
}