@import "@styles/Variables.less";
@import "@styles/Placeholders.less";

@root: articleHeader;

@text-width: 40%;

.@{root} {
    .ghostButton {
        margin-bottom: @unit;
    }

    &__title, &__description {
        color: white;
        width: @text-width;
        font-family: @raleway-font;
    }
    
    &__title {
        font-size: 24px;
        .lineClamp(2);
    }
    
    &__description {
        font-size: 14px;
        .lineClamp(3);
        margin-bottom: @unit * 2;
    }
    
    &--darkText {
        .@{root}__title, .@{root}__description {
            color: @text-color;
        }
    }
}

@media (max-width: @lg) {
    .@{root} {
        &__title, &__description {
            width: inherit;
        }
    }
}