@import "@styles/Variables.less";

@root: searchPage;

.@{root} {
    @space-around: 10%;

    .searchHeader {
        margin: 24px @space-around;
    }

    .searchResults {
        margin: 0 @space-around 24px @space-around;
    }
}